// 第八塊 表尾

.footer a {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  display: block;
}

.footerHead img {
  width: 48px;
  height: 48px;
}

.footerBody span {
  font-size: 36px;
}

.footerFoot {
  border-top: 1px solid white;
}

.footerFoot a {
  font-size: 14px;
}

// 平板
@media (max-width: 992px) {
  .footer {
    padding: 48px 36px 0px 36px;
  }
  .footerHead img {
    width: 40px;
    height: 40px;
  }
}

// 平板以下
@media (max-width: 768px) {
  .footer {
    padding: 24px 16px 16px 16px;
  }
  .footerHeadBody {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 24px;
  }
  .footerHead {
    order: 2;
  }
  .footerBody {
    order: 1;
    padding-bottom: 0;
  }

  .footerBody .mr-5 {
    margin-right: 10px;
  }
  .footerBody span,
  .fz-9 {
    font-size: 16px;
  }
  .footerMenu {
    display: none;
  }

  .footerHead img {
    width: 24px;
    height: 24px;
  }

  .footerFoot {
    flex-direction: column;
    padding: 0;
  }
  .footerFoot p {
    margin-bottom: 8px;
  }
  .footerFoot ul {
    flex-direction: column;
  }
  .footerHeadBody .mr-8 {
    margin-right: 8px;
  }
}
